.rr-header {
  background-color: var(--rr-bg-tertiary);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.rr-nav {
  display: flex;
  justify-content: space-between;
}

.rr-navlinks {
  width: 230px;
  color: var(--rr-font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rr-active-link {
  font-weight: 700;
}
