:root {
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

a,
a:hover {
  color: none;
  text-decoration: unset;
}

body,
html {
  background-color: var(--dd-bg-secondary);
}

main {
  padding: 10px;
}

.rr-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
