:root {
  --rr-bg-primary: #ffffff;
  --rr-bg-secondary: #c7c7c7;
  --rr-bg-tertiary: #2d28ff;

  --rr-font-primary: #ffffff;
  --rr-font-secondary: #000000;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

body,
html {
  background-color: var(--dd-bg-secondary);
}

main {
  padding: 10px;
}

/* Generic Styles */

.rr-container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.rr-mt20 {
  margin-top: 20px;
}

.rr-mr20 {
  margin-right: 20px;
}

.rr-page-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--rr-font-secondary);
}

.rr-active-link {
  font-weight: 700;
}

/* Listing Syles */

ol {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--rr-font-secondary);
}
